<div class="container">
  <br>
  <%= link_to "Sign_in", new_user_session_path%>
  <%= link_to "New Organization", new_organization_path, class:"btn btn-secondary" %>
  <%= link_to "New Municipality", new_municipality_path, class:"btn btn-secondary" %>

  <%= link_to "New Service Provider", new_service_provider_path, class:"btn btn-secondary" %>

</div>
