<div class="container bg-dark text-white w-50 mt-3 pb-3">

  <h1>Editing service provider</h1>

  <%= render "form", service_provider: @service_provider %>

  <br>

  <div class="container">
    <%= link_to "Back to Municipality", organization_municipality_path, class: "btn btn-secondary" %>
  </div>
</div>