<div class="container">

  <h1>New service provider</h1>

  <%= render "form", service_provider: @service_provider %>

  <br>

  <div>
    <%= link_to "Back to service providers", organization_municipality_service_providers_path(@organization, @municipality) %>
  </div>

</div>