<div id="<%= dom_id municipality %>">
  <div class="container">
    <strong>Organization:</strong>
    <%= municipality.organization.name %>

  <p>
    <strong>Name:</strong>
    <%= municipality.name %>
  </p>
  </div>
</div>
