<div id="<%= dom_id municipality %>">
  <p>
    <strong>Organization:</strong>
    <%= municipality.organization_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= municipality.name %>
  </p>

</div>
