<h1>Editing municipality</h1>
<%= turbo_frame_tag @municipality do %>
  <%= render "form", municipality: @municipality %>
<% end %>

<br>

<div>
  <%= link_to "Show this municipality", [@organization, @municipality] %> |
  <%= link_to "Back to municipalities", organization_municipalities_path %>
</div>
