  <p style="color: white"><%= notice %></p>

<div class="container w-50 text-center text-white text-decoration-underline">
      <h1>Municipalities</h1>
</div>

    <div id="municipalities">

      <% @municipalities.each do |municipality| %>
        <%= render municipality %>
      <% end %>
    </div>

