<div class="container bg-dark text-white w-50">
    <%= link_to "Back to municipalities", organization_municipalities_path(@organization), class: "btn btn-primary" %>

  <h1>New municipality</h1>
<%= turbo_frame_tag @municipality do %>
    <tbody>

  <%= render "form", municipality: @municipality %>
      </tbody>

<% end %>

  <br>

  <div>
  </div>
</div>
