<div class="container bg-dark text-white p-3 mt-3">
  <p style="color: white"><%= notice %></p>
  <div class="container mb-2 pt-3 d-flex align-items-center"> 
    <div class="container d-flex text-center">
      <h1><%= @municipality.name %></h1>
    </div>
      <%= link_to "Add Service Provider", 
                  new_organization_municipality_service_provider_path(@organization, @municipality), 
                  class: "btn btn-primary",
                  data: { turbo_frame: dom_id(ServiceProvider.new) } %>
  </div>
<div class="container text-center text-decoration-underline">
  <br><h2>Service Providers</h2>
</div>

<%turbo_frame_tag ServiceProvider.new%>

  <%# <% turbo_frame_tag "service_providers" do %> %>
          <%= render @municipality.service_providers %>
     <%# <% end %>   %>
</div>
