/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background: url('https://lh3.googleusercontent.com/l-EgfGCl3TqWcL4DRK4VHysEfU7GtVqehLSlhaaVA25kjB3VXwBx0Dut-5DvKs4JqwXsW9XbMHwPkRhrLzL0lsImkc7DrFSDH2X-hMHRtS-q8g-JYrrEmAy9yPnsvzK0oHjyafmDb4-692oDGTelJX9eB0ZBlP_OX-4SeyxrKG3IwHsqZtYXjnDE3JGYdq3vkRT-I-GZTkL3MPwA-OR73b4YyKEF2hN2XdKxgKVcG3EwU1bHaFSpDl33NHo3JMqD3QmrTa6AxomPFf3_qbYzFOfr0c1UMt0NP76BzRTHB6GHSP4l-EwbkAWpnNDmd3F1G7LvtBOFh2XROohG80uY2p25IYJg4l7_uyzpJyXxK8YsJNZgsW8kj_jevyPKCdFXeYNW11J35rcKple7xLPqK5Kzc6iMMh7o-hVJOWnKShpMpksu6JGKF_BhG8zAwX5OKBSCtzcmK4azd3837WiJEXtZe3cGCAS1legq3kGTF76skbN5IIFqgn4Cz7NBa8n6QuowMXJaGdoLNnx4VAk_9vDqv87gnXUCKUiBTPNfkLfFtgoGH5sFVtGsCOiXx999VyWbyO9mqdkKY8ac9Wu7De62YiUGKqkoGqss76Wo0gXuRPT5psM4aIPhcCT-ZiADLiTrvHq42GYxPKRLI0htZTuz5ahqpZs_7S49mKAiSuoSQoDIyhKsh7V0aD9e-ePdSbhHvKQFGCW7LC55mQ1aZDCGOqiN4K9hcMyuvTQEHwVdFNAb--5hcv-iF7Il=w771-h599-no?authuser=0') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

