/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background: url('https://lh3.googleusercontent.com/pw/AM-JKLVzqnc2dkTQS9zW9SL8MQQxiWfdsRPhchLtlTBlmhzI_OuG1Zyzhqsv3uLUylzBNBVrdHENZCWdNdPHKvqvL1kj6PWw9BNFbImYzyeNGm5MTJLBhA3Z8nzZ6PwZlLb1ve_Peq_mvtDdrcE1gJVEj7iHag=w771-h599-no?authuser=0') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
