/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background: url('https://lh3.googleusercontent.com/b-0X3sasYs0AsxSg7nrqCUe4vBPBKe_8Tj6ZJy3YFqx6rkfVn2hTdC3GZfS2XZH2XTOEKYWE_ycWeh5qmDFE6lVQsogMVYkIWQdiRMQKeXOsB_PUU2FNCKIDB2Qp7KSbr66Rr1jR2rUTFlY9zmM7Gkh7ybicTqZDPUvUmEiGvBihDjffGCNtP_Pam_V9Ui-L3FYGIyp8CiaHW_bDPoOpiBjFxHmybbgZntuoDUFK0ccGPm78wbVtiPItDOx4cYdgxTx_dSyHkKlFcQrvN6lVlPgSJYjaN46FPUh6u8QFsLp-skqsQzGElfyawE6_HGVvgys5nfU8DpPdN0xYQEr4k-wImBEAbmWYo3pbQ0PO7PlOgk4kVcYyVBqnwhxU9EXcVhDwsjGnfqGmCAAEcCdDVvmkT4Li6nZ2RBLFxcNO-S6Ip-FzhGsblM4qR0_GVsBnvhm6APPAfyLYMnvIjyAxqJ-FH5uM2c84vMWvfcrQQICC580PubUNe9zLp3LSWcErD9JNXT_vmhNUlMbs7Zy7a1PnINVBBylJvlcoKmCd3Ryutu8wIWzcHe4ggYhK2kxf4eVwNM_qxCFW7s9S47H5uBeL6lHs8em64lm_PbmQcYTukzwolbkJHw3N4xqL-wS2eC5xF0y-mP3JDmQs5lvFCuRoEATozpAxkJ4Bimgd4FfmAHpU1hIoOTxSkDtGPZ3Qrz8RagG3rvTEWrNfzUeojl_nLMgekBleZjKrE6cnO12MsNxadpSP5MG7dwXQ=w771-h599-no?authuser=0') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
