<div class="container bg-dark text-white w-50">

  <div class="container text-center">
    <h1>Editing organization</h1>
  </div>
  <%= turbo_frame_tag @organization do %>      
    <%= render "form", organization: @organization %>
  <% end %>
</div>
]  
