<div class="container bg-dark text-white w-50 pt-10 d-flex justify-content-center">
  <h1>New organization</h1>

  <div class="container text-info">
    <%= render "form", organization: @organization %>
  </div>
</div>
