
<div class="container bg-light w-50">
  <p style="color: white"><%= notice %></p>

  <div class="container text-center d-flex align-items-center">
   <h2><%= @organization.name%></h2>
    <div class="container d-flex justify-content-end">
      <%= link_to "Add Municipality", new_organization_municipality_path(@organization), class: 'btn btn-primary'%>
    </div>

  </div>
   <div class="container d-flex">
      <%@organization.municipalities.each do |municipality|%>
        <%= municipality.name%>
      <% end %>
    </div>
</div>
  
